/* @layer reset, global;

@import "./reset.css" layer(reset);

@layer global {


  :root {
    --step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
    --step-1: clamp(1.25rem, 1.1632rem + 0.4341vw, 1.4996rem);
    --step-2: clamp(1.5625rem, 1.4107rem + 0.7591vw, 1.999rem);
    --step-3: clamp(1.9531rem, 1.7056rem + 1.2375vw, 2.6647rem);
    --step-4: clamp(2.4414rem, 2.0551rem + 1.9315vw, 3.552rem);
    --step-5: clamp(3.0518rem, 2.4663rem + 2.9271vw, 4.7348rem);
    --step-6: clamp(3.8147rem, 2.9462rem + 4.3423vw, 6.3115rem);

    --color-primary1: #ffcc4a;
    --color-primary2: #4eaf4e;
    --color-primary3: #181818;
    --color-secondary1: #f5f5f5;
    --color-secondary2: #ffffff;

    --color-text: #595566;
    --color-card: #ebebeb;
    --color-faq: #dadada;
    --color-navigation: #1b1b1b 91%;

    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;

    --content-width: 50rem;
    --card-padding: 2.75rem 2.1875rem;
    --card-gap: 1rem;
    --card-border-radius: 8px;
  }

  body {
    min-height: 100svh;


    list-style: none;
    background-color: var(--color-secondary02);
    font-size: var(--step-0);
  }

  main {

    max-width: 1600px;
    margin: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Cabin", sans-serif;
    color: var(--color-primary03);
    font-weight: var(--font-weight-600);
  }

  p,
  a,
  li {
    color: var(--color-secondary02);
    font-weight: var(--font-weight-400);
  }

  h1 {
    font-size: var(--step-6);
  }
  h2 {
    font-size: var(--step-5);
  }
  h3 {
    font-size: var(--step-4);
  }
  h4 {
    font-size: var(--step-3);
  }
  h5 {
    font-size: var(--step-2);
  }
  h6 {
    font-size: var(--step-1);
  }

  a {
    cursor: pointer;
    transition: all 0.55s ease;
  }
} */
