<article>
  <div class="tekst">
    <h4>Subscribe Our Newsletter</h4>
    <p>Build stronger Customer Relationships with Consultalk</p>
  </div>
  <form name="newsletter" method="POST" data-netlify="true">
    <label for="email" class="email"> <input type="email" id="email" name="email" required placeholder="your mail address" /></label>
    <div class="knap">
      <button class="send_buttondiv" type="submit">Subscribe</button>
    </div>
  </form>
</article>

<style>
  @layer components {
    article {
      /* inline-size: min(600px, 100% - 1rem); */
      block-size: 150px;
      border-radius: 10px;
      background: var(--color-primary3);
      overflow: clip;
      position: relative;
      isolation: isolate;

      &::before {
        --square-count: 12;
        --square-size: 1rem;

        --_square-size: var(--square-size, 1rem);
        --_square-half: calc(var(--square-size) / 2);
        --_square-sum: calc(var(--square-count) * var(--square-size));
        z-index: -1;
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        transform-origin: 0 0;
        inline-size: calc(round(var(--_square-sum), var(--_square-size)) - var(--_square-half));
        aspect-ratio: 0.7;
        background: linear-gradient(135deg, #be965d, #976f40, #c99b61, #f0be7b, #ffcb85, #eebc79, #c0935b, #976f40) 0 0 / 100% 100%;
        mask:
          var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
          var(--square-pattern) var(--_square-half) var(--_square-half) / var(--_square-size) var(--_square-size);
        /*clip-path: polygon(-3% 0%, 100% 0%, 100% 103%);*/
        rotate: -45deg;
      }

      &::after {
        content: "";
        height: inherit;
        aspect-ratio: 1;
        border-radius: inherit;
        background: var(--color-primary2);
        position: absolute;
        top: 50%;
        right: 2rem;
        rotate: -45deg;
        transform-origin: right top;
      }
    }
    article {
      display: flex;
      align-items: center;
      justify-content: center;

      color: var(--color-secondary2);
      gap: 141px;
      padding: 87px;

      h4 {
        margin-bottom: 12px;
      }
    }

    form {
      display: flex;
      align-items: center;
      gap: 21px;

      input#email {
        padding: 22px 155px 22px 33px;
        border-radius: 54px;
        border: 1px #e3e3e3;
        color: #a9a9a9;
        background: var(--color-secondary2);
      }
    }

    button {
      display: inline-block;
      padding: 16px 37px;
      transition: all 0.55s ease;
      border-radius: 42px;
      background: var(--color-primary1);
      color: var(--color-primary3);

      &:hover {
        transform: scale(1.04);
        background: var(--color-primary3);
        color: var(--color-secondary2);
        text-decoration: none;
      }
    }
  }
</style>
