---
import Button from "./Button.astro";
const { farve, h2, tekst, buttonProps } = Astro.props;
---

<article class={farve}>
  <div>
    <h2>{h2}</h2>
    <p>{tekst}</p>
  </div>

  <div>
    <Button {...buttonProps}><slot /></Button>
  </div>
</article>
<style>
  @layer components {
    .primary {
      color: var(--color-primary3);
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    .secondary {
      color: var(--color-secondary2);
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
</style>
